{% load static %}

<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>VIDEO GAMES SALES!</title>

    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
          integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
          crossorigin="anonymous">
          
          <link rel="stylesheet" href="{% static 'css/style.css' %}">

</head>
<body>
<main class="container">
    
            <h1>Vente de jeux vidéos</h1>
            <h4>Choisis les valeurs des paramètres suivant pour prédire les ventes en Europe </h4>
                <div class="container">
                    <form action="predict" method="post" class="Liste">
                        {% csrf_token %}
                        {{form}}
                        <input type="submit" value="Prédire les ventes en Europe (en millions)" class="submitButton">
                    </form>
                </div>
           
        
</main>
</body>
</html>